<div class="footer-wrap">
   <div class="row">
      <div class="large-12 columns">
         <footer id="colophon" class="site-footer" role="contentinfo">
            this is the footer for the site.
         </footer>
      </div>
   </div>
</div>
